@import "variables";

/deep/ { // Don't try /deep/ at home

  .mat-input-element {
    caret-color: $caret-color;
  }

  .mat-focused {

    .mat-form-field-ripple {
      background-color: $input-underline-color;
    }

    .mat-form-field-label {
      color: $input-label-color;
    }
  }

}
